@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Satisfy&display=swap');

body {
	background-color: #524D5C;
	font-family: 'Roboto Condensed', sans-serif;
}

.frame {
	position: absolute;
	background-color: #DBAB48;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	transform: translate(-50%, -50%);
	box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.6);
}

.frame, .card {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flip-me {
	position: absolute;
	top: 30%;
	left: 77%;
	transform: rotate(-90deg);
	font-size: 1.3rem;
	color: rgba(255, 255, 255, 0.6);
}

.front h1 {
	font-family: 'Satisfy', cursive;
	font-size: 8rem;
	margin: 16px 80px;
	color: #DBD24B;
}

.card:hover .flip {
	transform: rotateX(180deg) translate3d(0, 0, 0);
	box-shadow: 8px -10px 15px rgba(0, 0, 0, 0.5);
}

.flip {
	transform-style: preserve-3d;
	transition: all 0.7s ease-in-out;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	width: 100%;
	height: 100%;
	background-color: #705C9C;
}

.card .back {
	transform: rotateX(180deg);
	position: absolute;
	top: 0;
	left: 0;
}

.back {
	letter-spacing: 2px;
	text-align: center;
}

.back h2 {
	font-size: 1.5rem;
	margin: 8px;
	color: #DBD24B;
}

.back h3 {
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Satisfy', cursive;
	font-size: 1.5rem;
	margin: 32px 0px;
}

img {
	width: 25px;
	margin: 0px 5px;
}

img:hover {
	width: 32px;
	cursor: pointer;
}